<a href="https://colab.research.google.com/github/Maks6666/ML/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%94%D0%97_3_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпортуйте модуль pandas

In [ ]:
import pandas as pd

# Інформація про дані
Зібрано дані продажу техніки в різних магазинах.
* OrderDate -- дата замовлення
* Region    -- регіон де розміщено магазин
* Manager   -- ім'я менеджера
* SalesMan  -- ім'я продавця
* Item      -- тип товару
* Units     -- кількість купленого товару
* Unit_price -- ціна за штуку
* Sale_amt   -- загальна вартість покупки

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/sales_data.csv", index_col="Unnamed: 0")

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [ ]:
df.info()
print(f"{df.columns}\n")
print(f"{df.columns.dtype}\n")
print(f"{df.isnull().sum()}\n")

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 0 to 44
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderDate   43 non-null     object
 1   Region      43 non-null     object
 2   Manager     43 non-null     object
 3   SalesMan    43 non-null     object
 4   Item        43 non-null     object
 5   Units       45 non-null     float64
 6   Unit_price  45 non-null     float64
 7   Sale_amt    45 non-null     float64
dtypes: float64(3), object(5)
memory usage: 3.2+ KB
Index(['OrderDate', 'Region', 'Manager', 'SalesMan', 'Item', 'Units',
       'Unit_price', 'Sale_amt'],
      dtype='object')

object

OrderDate     2
Region        2
Manager       2
SalesMan      2
Item          2
Units         0
Unit_price    0
Sale_amt      0
dtype: int64

# Завдання 2

Перейменуйте стовпчики так, щоб назви містили літери нижнього регістру

In [ ]:
df = df.rename(columns=lambda x: x.lower())
df.columns

Index(['orderdate', 'region', 'manager', 'salesman', 'item', 'units',
       'unit_price', 'sale_amt'],
      dtype='object')

# Завдання 3
Виведіть дані про купівлі телевізорів та телефонів

In [ ]:
df["item"].value_counts()

item
Home Theater    15
Television      13
Video Games      7
Cell Phone       5
Desk             3
Name: count, dtype: int64

In [ ]:
filtered_df = df[(df['item'] == 'Television') | (df['item'] == 'Cell Phone')]
filtered_df

,orderdate,region,manager,salesman,item,units,unit_price,sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95.0,1198.0,113810.0
2,2018-02-09,Central,Hermann,Luis,Television,36.0,1198.0,43128.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27.0,225.0,6075.0
4,2018-03-15,West,Timothy,Stephen,Television,56.0,1198.0,67088.0
6,2018-04-18,Central,Martha,Steven,Television,75.0,1198.0,89850.0
7,2018-05-05,Central,Hermann,Luis,Television,90.0,1198.0,107820.0
8,2018-05-22,West,Douglas,Michael,Television,32.0,1198.0,38336.0
10,2018-06-25,Central,Hermann,Sigal,Television,90.0,1198.0,107820.0
13,2018-08-15,East,Martha,Alexander,Television,35.0,1198.0,41930.0
17,2018-10-22,East,Martha,Alexander,Cell Phone,64.0,225.0,14400.0
18,2018-11-08,East,Douglas,Karen,Cell Phone,15.0,225.0,3375.0
20,2018-12-12,Central,Douglas,John,Television,67.0,1198.0,80266.0
27,2019-04-10,Central,Martha,Steven,Television,66.0,1198.0,79068.0
28,2019-04-27,East,Martha,Diana,Cell Phone,96.0,225.0,21600.0
29,2019-05-14,Central,Timothy,David,Television,53.0,1198.0,63494.0
36,2019-09-10,Central,Timothy,David,Television,7.0,1198.0,8386.0
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76.0,225.0,17100.0
39,2019-10-31,Central,Martha,Steven,Television,14.0,1198.0,16772.0

# Завдання 4
Яка загальна виручка у продавця Luis?

In [ ]:
sorted = df[df['salesman'] == 'Luis']
sorted["sale_amt"].sum()

206373.0

# Завдання 5

Скільки і якого товару було продано?

див groupby(),

In [ ]:
sorted = df.groupby(['item', 'units']).sum()
sorted

                               orderdate          region         manager  \
item         units
Cell Phone   15.0             2018-11-08            East         Douglas
             27.0             2018-02-26         Central         Timothy
             64.0             2018-10-22            East          Martha
             76.0             2019-09-27            West         Timothy
             96.0             2019-04-27            East          Martha
Desk         2.0              2018-09-01         Central         Douglas
             3.0              2019-08-24            West         Timothy
             5.0              2019-06-17         Central         Hermann
Home Theater 4.0              2019-02-18            East          Martha
             7.0              2019-03-07            West         Timothy
             11.0             2019-11-17         Central         Hermann
             28.0   2018-10-052019-12-21  CentralCentral   HermannMartha
             29.0             2018-07-12            East          Martha
             46.0             2019-01-15         Central         Timothy
             50.0             2018-01-23         Central         Hermann
             57.0             2019-10-14            West         Douglas
             60.0   2018-04-012018-06-08        EastEast    MarthaMartha
             80.0             2019-05-31         Central         Timothy
             81.0             2018-07-29            East         Douglas
             87.0             2019-02-01         Central         Douglas
             94.0             2019-12-04         Central         Hermann
Television   7.0              2019-09-10         Central         Timothy
             14.0             2019-10-31         Central          Martha
             32.0             2018-05-22            West         Douglas
             35.0             2018-08-15            East          Martha
             36.0             2018-02-09         Central         Hermann
             53.0             2019-05-14         Central         Timothy
             56.0             2018-03-15            West         Timothy
             66.0             2019-04-10         Central          Martha
             67.0             2018-12-12         Central         Douglas
             75.0             2018-04-18         Central          Martha
             90.0   2018-05-052018-06-25  CentralCentral  HermannHermann
             95.0             2018-01-06            East          Martha
Video Games  16.0             2018-09-18            East          Martha
             42.0             2019-08-07         Central         Hermann
             50.0             2019-03-24         Central         Hermann
             55.0             2019-07-21         Central         Hermann
             62.0             2019-07-04            East          Martha
             74.0             2018-12-29            East         Douglas
             96.0             2018-11-25         Central         Hermann

                              salesman  unit_price  sale_amt
item         units
Cell Phone   15.0                Karen       225.0    3375.0
             27.0                David       225.0    6075.0
             64.0            Alexander       225.0   14400.0
             76.0              Stephen       225.0   17100.0
             96.0                Diana       225.0   21600.0
Desk         2.0                  John       125.0     250.0
             3.0               Stephen       125.0     375.0
             5.0                Shelli       125.0     625.0
Home Theater 4.0             Alexander       500.0    2000.0
             7.0               Stephen       500.0    3500.0
             11.0                 Luis       500.0    5500.0
             28.0          SigalSteven      1000.0   28000.0
             29.0                Diana       500.0   14500.0
             46.0                David       500.0   23000.0
             50.0               Shelli       500.0   25000.0
             57.0              Michael       500.0   28500.0
             60.0   AlexanderAlexander      1000.0   60000.0
             80.0                David       500.0   40000.0
             81.0                Karen       500.0   40500.0
             87.0                 John       500.0   43500.0
             94.0                 Luis       500.0   47000.0
Television   7.0                 David      1198.0    8386.0
             14.0               Steven      1198.0   16772.0
             32.0              Michael      1198.0   38336.0
             35.0            Alexander      1198.0   41930.0
             36.0                 Luis      1198.0   43128.0
             53.0                David      1198.0   63494.0
             56.0              Stephen      1198.0   67088.0
             66.0               Steven      1198.0   79068.0
             67.0                 John      1198.0   80266.0
             75.0               Steven      1198.0   89850.0
             90.0            LuisSigal      2396.0  215640.0
             95.0            Alexander      1198.0  113810.0
Video Games  16.0            Alexander        58.5     936.0
             42.0               Shelli        58.5    2457.0
             50.0                 Luis        58.5    2925.0
             55.0                Sigal        58.5    3217.5
             62.0            Alexander        58.5    3627.0
             74.0                Karen        58.5    4329.0
             96.0               Shelli        58.5    5616.0

# Завдання 6
Перевірте чи правильно розраховано загальну вартість покупки. Виведіть ті рядки де є помилка. Виправте дані в таблиці

In [ ]:
def check_df(df):
    correct = True
    for index, row in df.iterrows():
        if row['units'] * row['unit_price'] != row['sale_amt']:
            print(f"Units: {row['units']}, Unit Price: {row['unit_price']}, Sale Amount: {row['sale_amt']}")
            correct = False
    if correct:
        print("DF is correct")

check_df(df)

Units: 278.0, Unit Price: 1125.0, Sale Amount: 62550.0
Units: 34.75, Unit Price: 140.625, Sale Amount: 7818.75